<%if (title == "About Me Page") { %>
  <img src="/Assets/images/ibtehaj.jpg" alt="Image Of Ibtehaj">
        <p id="introduction">
            I am a final year Bachelor of Information Technology student majoring in Networking and IT Security at Ontario Tech University,
            I possess a solid foundation in programming, networking, cybersecurity, and cloud computing.
            Proficient in Python, CCNA, CCNP, AWS, Azure, Docker Hub, and various operating systems.
            <br> 
            I have hands-on experience in the IT field having worked as an IT Operations Analyst at Verto health for an eight month co-op term. 
            This experience allowed me to implement my skills in programming, security monitoring, user management through an MDM solution,
            and operating system handling. 
            <br>
            I also have hands-on experience in developing a symmetric cryptography system, 
            implementing networking protocols, and designing programs. With work experience in shipping and receiving operations and sales advisory roles, 
            I have developed strong communication, interpersonal, and customer service skills.
        </p>
        <video controls id="video" poster="ass" loop preload="auto" autoplay muted>
            <source src="/Assets/images/IBTEHAJ.JAFFRI.mp4">
        </video>
  <% } %> 
