<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; Copyright 2023. All Rights Reserved</h6>
  <h6 class="navbar-text"><a href="ibtehaj.jaffri@gmail.com">Ibtehaj.jaffri@gmail.com</a></h6>
  <h6 class="navbar-text"><a href="https://www.linkedin.com/in/ibtehaj-jaffri/">LinkedIn</a></h6>
  <h6 class="navbar-text"><a href="https://github.com/IJaffri01">Github</a></h6>



</nav>

