
<%if (title == "Projects Page") { %>
<h3>Symmetric Cryptography Tournament</h3>
        <ul id="projects">
            <li>
                Designed a Python symmetric cryptosystem, where we created an encryption/decryption algorithm with a 100
                MB plain text that had to include the Universities name. Once created we had to submit our ciphertext along
                with the other groups
            </li>
            <li>
                Points were assigned on the cryptosystem (including the algorithm, key, and texts) as well as on being able to
                decrypt the other groups ciphertexts, last way for points, was if the other groups could not decipher our cipher. 
            </li>
        </ul>

        <h3>Advanced Networking 2</h3>
        <ul>
            <li>
                Implemented Networking protocols such as OSPF, EIGRP, BGP and many more to design a network for a
                hypothetical company expansion,
            </li>
            <li>
                Configured all devices, planned out networking and routing table, and lastly implemented suggestions for
                security, our main suggestion was the use of firewalls, as not stated by this hypothetical client.
            </li>
        </ul>
        <h3>Student Ledger Program</h3>
        <ul>
            <li>
                Designed a student ledger program using python and PyCharm IDE. The program contained all records of a  student including a login. 
                Imported several libraries, and all the topics from the Introduction to programming  course.  
            </li>
        </ul>
<% } %> 